.card-grid {
    & {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        justify-items: center;
        gap: 1rem;
    }

    padding: 0.5rem;

    & > a {
        .card {
            transition: 100ms transform linear;
        }
        .card:hover {
            transform: scale(1.05);
        }
        text-decoration: none;
        color: unset;
    }

    .card {
        & {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        border-radius: var(--border-radius);
        background-color: hsl(0, 0%, 100%);
        padding: 2rem;
        // box-shadow: var(--shadow);

        img {
            border-radius: var(--border-radius);
            width: 60%;
            display: block;

            &.large {
                width: 100%;
            }
        }

        h3 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}
