@use "./scss/contact";
@use "./scss/header";
@use "./scss/card";
@use "./scss/hero";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-txt-plain: hsl(0, 0%, 12.5%);
    --clr-txt-highlight: hsl(0, 0%, 0%);
    --shadow: 0px 2px 3px hsl(0, 0%, 12.5%, 20%),
        0px 0px 3px hsl(0, 0%, 12.5%, 20%);
    --border-radius: 0.2rem;
    --font-text: "Public Sans", Helvetica, Arial, sans-serif;
    --font-logo: "Playfair Display", Georgia, "Times New Roman", serif;
    --font-mono: "Red Hat Mono", "Courier New", Courier, monospace;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 4rem);
}

body {
    font-family: var(--font-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    color: var(--clr-txt-plain);
    margin: 0;
    line-height: 1.5;
}

.container {
    max-width: 1000px;
    padding: 1rem;
    margin-inline: auto;
}

section,
footer {
    background-color: hsl(0, 0%, 95%);

    &:nth-of-type(even) {
        background-color: hsl(0, 0%, 90%);
    }
}

.footer {
    text-align: center;

    p {
        color: hsl(0, 0%, 50%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    color: var(--clr-txt-highlight);
}
