.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 0.5rem;

    .card {
        border-radius: var(--border-radius);
        // box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        padding: 2rem;
        align-items: center;

        img {
            border-radius: var(--border-radius);
            width: 60%;
            display: block;
        }

        h3 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}
