.contact-information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;

    div {
        width: 100%;
        max-width: 300px;

        h4 {
            width: 100%;
            margin: 0;
            padding: 0.25rem;
        }

        code {
            display: block;
            font-size: 1rem;
            font-family: "Red Hat Mono", "Courier New", Courier, monospace;
            background-color: hsl(0, 0%, 98%);
            padding: 0.25rem;
            margin: 0.5rem 0;
            width: 100%;
            text-align: center;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
        }
    }
}
