#header {
    & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    & {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    padding: 0.2rem 4rem;

    background-color: #fff;
    box-shadow: var(--shadow);

    transition: background-color 200ms linear;

    &.top-scrolled {
        background-color: transparent;
        box-shadow: none;

        * {
            color: #fff;
        }
    }
}

#header-logo {
    transition: color 200ms linear;

    margin: 0;
    padding: 0.3125rem;
    font-family: var(--font-logo);
}

#primary-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;

    a {
        transition: color 200ms linear;
        color: currentcolor;
        text-decoration: none;
        padding: 0.33rem;
        border-bottom: 1px solid currentcolor;
        text-align: center;
        transition: border-bottom 200ms, margin-bottom 200ms;

        &:hover {
            border-bottom: 5px solid currentcolor;
            margin-bottom: -4px;
        }
    }
}

@media only screen and (max-width: 660px) {
    #header {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 0px;

        #header-logo {
            font-size: 2em;
        }
    }
}
